<%# locals: (tag_name:, is_primary:) %>
<%
  common_classes = "inline-block rounded px-2 py-1 text-sm mr-2 mb-2"
  specific_classes = is_primary ? "bg-black text-white" : "bg-white text-black border border-black"
%>
<span class="<%= common_classes %> <%= specific_classes %>">
  <%= tag_name %>
</span>
