<%# locals: (tag_name:, is_primary:, font_class: nil) %>
<%
  current_font_class = font_class || "text-sm"
  common_classes = "inline-block rounded px-2 py-2 leading-none mr-2 mb-2 #{current_font_class}"
  specific_classes = is_primary ? "bg-black text-white" : "bg-white text-black border border-black"
%>
<span class="<%= common_classes %> <%= specific_classes %>">
  <%= tag_name %>
</span>
