<% content_for :title, "Add a product - Gumroad Help Center" %>
<% content_for :meta_description, "Learn how to add products on Gumroad. Digital products, courses, newsletters, memberships, and more." %>
<%# Note: The canonical URL and twitter card details might need to be more dynamic based on the actual category if this were a real category page vs an example. %>
<%# For this specific page, if it represents the category 'Add a product', the canonical URL would be to itself. %>
<% content_for :canonical_url, "/help/category/318-add-a-product.html" %>
<% content_for :twitter_title, "Add a product - Gumroad Help Center" %>
<% content_for :twitter_description, "Learn how to add products on Gumroad. Digital products, courses, newsletters, memberships, and more." %>

<% content_for :head_scripts do %>
  <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"WebSite","url":"https://help.gumroad.com","potentialAction":{"@type":"SearchAction","target":"https://help.gumroad.com/search?query={query}","query-input":"required name=query"}}
  </script>
  <script type="application/ld+json">
    {"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Gumroad Help Center","item":"https://help.gumroad.com"},{"@type":"ListItem","position":2,"name":"For Creators","item":"https://help.gumroad.com/collection/1-for-creators"},{"@type":"ListItem","position":3,"name":"Add a product","item":"/help/category/318-add-a-product.html"}]}
  </script>
<% end %>

<div class="contentWrapper withRelated">
    <hgroup id="categoryHead">
        <h1>Add a product</h1>
        <p class="descrip"></p>
        <div class="sort">

        </div>
    </hgroup><!--/categoryHead-->

    <article id="fullArticle">
        <ul class="articleList">
        <li><a href="/help/article/304-products-dashboard.html"><i class="icon-article-doc"></i><span>The products dashboard</span></a></li>
        <li><a href="/help/article/149-adding-a-product.html"><i class="icon-article-doc"></i><span>Adding a product</span></a></li>
        <li><a href="/help/article/60-adding-a-cover-image.html"><i class="icon-article-doc"></i><span>Adding cover and thumbnail images</span></a></li>
        <li><a href="/help/article/101-designing-your-product-page.html"><i class="icon-article-doc"></i><span>Checkout customization</span></a></li>
        <li><a href="/help/article/81-custom-product-urls.html"><i class="icon-article-doc"></i><span>Custom product URLs</span></a></li>
        <li><a href="/help/article/248-delete-a-product.html"><i class="icon-article-doc"></i><span>Unpublish or delete a product</span></a></li>
        <li><a href="/help/article/126-setting-up-versions-on-a-digital-product.html"><i class="icon-article-doc"></i><span>Setting up versions on a digital product</span></a></li>

        <li><a href="/help/article/82-membership-products.html"><i class="icon-article-doc"></i><span>Selling memberships</span></a></li>
        <li><a href="/help/article/346-installment-plans.html"><i class="icon-article-doc"></i><span>Allowing installment plans</span></a></li>
        <li><a href="/help/article/133-pay-what-you-want-pricing.html"><i class="icon-article-doc"></i><span>&quot;Pay what you want&quot; pricing</span></a></li>
        <li><a href="/help/article/43-streaming-videos.html"><i class="icon-article-doc"></i><span>Prepare videos for streaming</span></a></li>
        <li><a href="/help/article/125-how-to-compress-a-video-using-handbrake.html"><i class="icon-article-doc"></i><span>Compress videos using Handbrake</span></a></li>
        <li><a href="/help/article/112-mobile-friendly-files.html"><i class="icon-article-doc"></i><span>Mobile-friendly files</span></a></li>
        <li><a href="/help/article/176-metadata-for-audio-files.html"><i class="icon-article-doc"></i><span>Metadata for audio files</span></a></li>
        <li><a href="/help/article/249-affiliate-faq.html"><i class="icon-article-doc"></i><span>Becoming an affiliate on Gumroad</span></a></li>
        <li><a href="/help/article/289-file-size-limits-on-gumroad.html"><i class="icon-article-doc"></i><span>File size limits</span></a></li>
        <li><a href="/help/article/339-product-bundles.html"><i class="icon-article-doc"></i><span>Product bundles</span></a></li>
        <li><a href="/help/article/341-collaborations.html"><i class="icon-article-doc"></i><span>Collaborate with another creator</span></a></li>
        <li><a href="/help/article/347-gumroad-community.html"><i class="icon-article-doc"></i><span>Gumroad communities</span></a></li>
    </ul><!--/articleList-->
    </article>

</div><!--/contentWrapper-->
