---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - a957591d-14d3-4151-864a-015c10f6e90b
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a957591d-14d3-4151-864a-015c10f6e90b
      Original-Request:
      - req_hg8WCB62wv74oW
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RGdEq9e1RjUNIyYviqd0jNa",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1745314536,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 22 Apr 2025 09:35:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdEq9e1RjUNIyYviqd0jNa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0RGdEq9e1RjUNIyYviqd0jNa
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3d557c23-df1c-4d5d-a9a1-8d626e2661fe
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3d557c23-df1c-4d5d-a9a1-8d626e2661fe
      Original-Request:
      - req_l4T2vdlRTEX1B6
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SAzDLZFRmX8GmW",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1745314536,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "D5F6B883",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 22 Apr 2025 09:35:37 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdEr9e1RjUNIyYIxi6e41S
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=3500&currency=usd&description=You+bought+http%3A%2F%2Fedgar90cbcbb1876.test.gumroad.com%3A31337%2Fl%2Fg%21&metadata[purchase]=AqacYIhQq13T5eEAvb8s4w%3D%3D&transfer_group=597&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&off_session=true&confirm=true&customer=cus_SAzD9nsnK3PJ5d&payment_method=pm_0RGdEr9e1RjUNIyYIxi6e41S&statement_descriptor_suffix=edgar90cbcbb1876
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - aabba97f-9d81-47f7-848c-46b414422f36
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - aabba97f-9d81-47f7-848c-46b414422f36
      Original-Request:
      - req_sZdazBzNdCvzOF
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RGdEt9e1RjUNIyY1Telmwjv",
          "object": "payment_intent",
          "amount": 3500,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 3500,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RGdEt9e1RjUNIyY1Telmwjv_secret_ZDnT3QL70vAncft6gyhSQr9s3",
          "confirmation_method": "automatic",
          "created": 1745314539,
          "currency": "usd",
          "customer": "cus_SAzD9nsnK3PJ5d",
          "description": "You bought http://edgar90cbcbb1876.test.gumroad.com:31337/l/g!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RGdEt9e1RjUNIyY12SjuHdg",
          "livemode": false,
          "metadata": {
            "purchase": "AqacYIhQq13T5eEAvb8s4w=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RGdEr9e1RjUNIyYIxi6e41S",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "alipay": {},
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "alipay",
            "link",
            "wechat_pay",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar90cbcbb1876",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "597"
        }
  recorded_at: Tue, 22 Apr 2025 09:35:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RGdEt9e1RjUNIyY12SjuHdg?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RGdEt9e1RjUNIyY12SjuHdg",
          "object": "charge",
          "amount": 3500,
          "amount_captured": 3500,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RGdEt9e1RjUNIyY13QTezUm",
            "object": "balance_transaction",
            "amount": 3500,
            "available_on": 1745452800,
            "created": 1745314539,
            "currency": "usd",
            "description": "You bought http://edgar90cbcbb1876.test.gumroad.com:31337/l/g!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 3500,
            "reporting_category": "charge",
            "source": "ch_2RGdEt9e1RjUNIyY12SjuHdg",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR90CBCBB1",
          "captured": true,
          "created": 1745314539,
          "currency": "usd",
          "customer": "cus_SAzD9nsnK3PJ5d",
          "description": "You bought http://edgar90cbcbb1876.test.gumroad.com:31337/l/g!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "AqacYIhQq13T5eEAvb8s4w=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 46,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RGdEt9e1RjUNIyY1Telmwjv",
          "payment_method": "pm_0RGdEr9e1RjUNIyYIxi6e41S",
          "payment_method_details": {
            "card": {
              "amount_authorized": 3500,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 3500,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo7cWdwAYyBmCehpnssDosFkXVvB8eSjlH_c9z8SDN3Sap2IZGNhjhZALtNiYGalzYMb32LlfTvwC9Xmk",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar90cbcbb1876",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "597"
        }
  recorded_at: Tue, 22 Apr 2025 09:35:41 GMT
recorded_with: VCR 6.2.0
