<p>Hi <%= @creator.name_or_username %>,</p>

<p>Here's your requested export of creator metrics with both total sales and earnings data.</p>

<p>You can find the data in the attached CSV file.</p>

<p>Thanks,<br>The Gumroad Team</p>
