<div>
  <h2>Your product has been unpublished</h2>
  
  <p>Your product "<%= @product.name %>" has been unpublished because it appears to be substantially similar to another creator's product on Gumroad.</p>
  
  <p>This action is part of our ongoing efforts to protect creators from impersonation and unauthorized duplication of their work.</p>
  
  <p>If you believe this is a mistake, please respond to this email with the following information:</p>
  
  <ul>
    <li>An explanation of why you believe your product is original</li>
    <li>Any evidence of your ownership of the content</li>
  </ul>
  
  <p>We appreciate your understanding and cooperation as we work to maintain a fair marketplace for all creators.</p>
</div>
