---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 5c6b4343-521c-4d7b-ad6f-5b4f7a3f0c56
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 5c6b4343-521c-4d7b-ad6f-5b4f7a3f0c56
      Original-Request:
      - req_5xHqVrBCjlVEYA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RGdCh9e1RjUNIyYO0bIzxIZ",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1745314403,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 22 Apr 2025 09:33:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdCh9e1RjUNIyYO0bIzxIZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0RGdCh9e1RjUNIyYO0bIzxIZ
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - f94fe21f-b038-4368-8101-778a8c658679
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f94fe21f-b038-4368-8101-778a8c658679
      Original-Request:
      - req_czPK8w1Kxm40Vh
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SAzBxMtK9PzJVE",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1745314404,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "E99601A1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 22 Apr 2025 09:33:24 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdCj9e1RjUNIyY3NaVHjmA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=300&currency=usd&description=You+bought+http%3A%2F%2Fedgar3f8aaa73535.test.gumroad.com%3A31337%2Fl%2Fm%21&metadata[purchase]=lycW12HzcIyhe8t0iglOGQ%3D%3D&transfer_group=434&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&off_session=true&confirm=true&customer=cus_SAzBEfwML9M52n&payment_method=pm_0RGdCj9e1RjUNIyY3NaVHjmA&statement_descriptor_suffix=edgar3f8aaa73535
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 38de8705-b52a-4bc8-8410-6c7f77d6e9b5
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 38de8705-b52a-4bc8-8410-6c7f77d6e9b5
      Original-Request:
      - req_B0ZbNrvZvATunM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RGdCl9e1RjUNIyY0ASjQHLK",
          "object": "payment_intent",
          "amount": 300,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 300,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RGdCl9e1RjUNIyY0ASjQHLK_secret_U8rvMwNmiOEfSAP2SGMssy9Ed",
          "confirmation_method": "automatic",
          "created": 1745314407,
          "currency": "usd",
          "customer": "cus_SAzBEfwML9M52n",
          "description": "You bought http://edgar3f8aaa73535.test.gumroad.com:31337/l/m!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RGdCl9e1RjUNIyY0SPto5hA",
          "livemode": false,
          "metadata": {
            "purchase": "lycW12HzcIyhe8t0iglOGQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RGdCj9e1RjUNIyY3NaVHjmA",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "alipay": {},
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "alipay",
            "link",
            "wechat_pay",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3f8aaa73535",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "434"
        }
  recorded_at: Wed, 30 Apr 2025 09:33:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RGdCl9e1RjUNIyY0SPto5hA?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RGdCl9e1RjUNIyY0SPto5hA",
          "object": "charge",
          "amount": 300,
          "amount_captured": 300,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RGdCl9e1RjUNIyY0FLXIT1j",
            "object": "balance_transaction",
            "amount": 300,
            "available_on": 1745452800,
            "created": 1745314407,
            "currency": "usd",
            "description": "You bought http://edgar3f8aaa73535.test.gumroad.com:31337/l/m!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 300,
            "reporting_category": "charge",
            "source": "ch_2RGdCl9e1RjUNIyY0SPto5hA",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR3F8AAA73",
          "captured": true,
          "created": 1745314407,
          "currency": "usd",
          "customer": "cus_SAzBEfwML9M52n",
          "description": "You bought http://edgar3f8aaa73535.test.gumroad.com:31337/l/m!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "lycW12HzcIyhe8t0iglOGQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 28,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RGdCl9e1RjUNIyY0ASjQHLK",
          "payment_method": "pm_0RGdCj9e1RjUNIyY3NaVHjmA",
          "payment_method_details": {
            "card": {
              "amount_authorized": 300,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 300,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo6MSdwAYyBoYeabHFIzosFrc5Txq5idmHCdReGv5sPjKfNE665yiJGurlqZUshFeigTQDz-ZxCXTXQ2M",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar3f8aaa73535",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "434"
        }
  recorded_at: Wed, 30 Apr 2025 09:33:27 GMT
recorded_with: VCR 6.2.0
