---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4000000000003055&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 78b324b0-e8a3-4e7b-857a-6be472fc0e78
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 78b324b0-e8a3-4e7b-857a-6be472fc0e78
      Original-Request:
      - req_5IjWBcsQn3xwgT
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RGd809e1RjUNIyY8U7r5RFI",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "mkERqR44ISo2dpl6",
            "funding": "credit",
            "generated_from": null,
            "last4": "3055",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1745314112,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 22 Apr 2025 09:28:32 GMT
recorded_with: VCR 6.2.0
