---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?transfer_group=88
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1MeFbmKQKir5qdfM
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "ch_3Mf0bBKQKir5qdfM1FZ0agOH",
              "object": "charge",
              "amount": 1000,
              "amount_captured": 1000,
              "amount_refunded": 0,
              "application": "<STRIPE_CONNECT_CLIENT_ID>",
              "application_fee": "fee_1Mf0bCKQKir5qdfMySw0fedz",
              "application_fee_amount": 70,
              "balance_transaction": "txn_3Mf0bBKQKir5qdfM1kvDVX5q",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": "",
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null,
                "tax_id": null
              },
              "calculated_statement_descriptor": "GUM.CO/CC* 37211461830",
              "captured": true,
              "created": 1677242525,
              "currency": "usd",
              "customer": null,
              "description": "You bought https://3721146183022.stripe-connect-save-card.apps.staging.gumroad.org/l/j",
              "destination": null,
              "dispute": null,
              "disputed": false,
              "failure_balance_transaction": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {
                "purchase": "fhXfI9kDSHmVIFm3W44PDQ=="
              },
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "advice_code": null,
                "network_advice_code": null,
                "network_decline_code": null,
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "risk_score": 15,
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "payment_intent": "pi_3Mf0bBKQKir5qdfM11GAB7yN",
              "payment_method": "pm_1Mf0bAKQKir5qdfMOp6N74vl",
              "payment_method_details": {
                "card": {
                  "amount_authorized": 1000,
                  "authorization_code": null,
                  "brand": "visa",
                  "checks": {
                    "address_line1_check": null,
                    "address_postal_code_check": null,
                    "cvc_check": "pass"
                  },
                  "country": "US",
                  "exp_month": 12,
                  "exp_year": 2023,
                  "extended_authorization": {
                    "status": "disabled"
                  },
                  "fingerprint": "ikzQiMcILaotxLpq",
                  "funding": "credit",
                  "incremental_authorization": {
                    "status": "unavailable"
                  },
                  "installments": null,
                  "last4": "4242",
                  "mandate": null,
                  "multicapture": {
                    "status": "unavailable"
                  },
                  "network": "visa",
                  "network_token": {
                    "used": false
                  },
                  "network_transaction_id": "691186950987674",
                  "overcapture": {
                    "maximum_amount_capturable": 1000,
                    "status": "unavailable"
                  },
                  "regulated_status": "unregulated",
                  "three_d_secure": null,
                  "wallet": null
                },
                "type": "card"
              },
              "receipt_email": null,
              "receipt_number": null,
              "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xTWVGYm1LUUtpcjVxZGZNKK6Bn8AGMgaEm-BGmeE6LBbWhx2JZwZ3GXINhR_ITD_gSOmhGib5FkTqlyj4_qzfxOWVlQ-aI8jgLDz9",
              "refunded": false,
              "review": null,
              "shipping": null,
              "source": null,
              "source_transfer": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": "3721146183022",
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": "88"
            }
          ],
          "has_more": false,
          "url": "/v1/charges"
        }
  recorded_at: Tue, 22 Apr 2025 16:15:42 GMT
recorded_with: VCR 6.2.0
