---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?transfer_group=115787
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "ch_0IvAB29e1RjUNIyY1hyx6deT",
              "object": "charge",
              "amount": 1000,
              "amount_captured": 1000,
              "amount_refunded": 0,
              "amount_updates": [],
              "application": null,
              "application_fee": null,
              "application_fee_amount": null,
              "balance_transaction": "txn_0IvAB29e1RjUNIyYySzlSxl7",
              "billing_details": {
                "address": {
                  "city": null,
                  "country": null,
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": null,
                "name": null,
                "phone": null,
                "tax_id": null
              },
              "calculated_statement_descriptor": "GUM.CO/CC* SHIBIN<STRONGBOX_GENERAL_PASSWORD>",
              "captured": true,
              "created": 1621987248,
              "currency": "usd",
              "customer": "cus_Ga4qMbuRTyNsco",
              "description": "You bought https://staging.gumroad.com/l/HMV",
              "destination": null,
              "dispute": null,
              "disputed": false,
              "failure_balance_transaction": null,
              "failure_code": null,
              "failure_message": null,
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {
                "purchase": "kzYkJzza1PYosGRe3QETeg=="
              },
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "advice_code": null,
                "network_advice_code": null,
                "network_decline_code": null,
                "network_status": "approved_by_network",
                "reason": null,
                "risk_level": "normal",
                "risk_score": 8,
                "seller_message": "Payment complete.",
                "type": "authorized"
              },
              "paid": true,
              "payment_intent": "pi_0IvAB19e1RjUNIyYfDiqzyrF",
              "payment_method": "card_Ga4pKWi3H8ZP2O",
              "payment_method_details": {
                "card": {
                  "amount_authorized": null,
                  "authorization_code": null,
                  "brand": "visa",
                  "checks": {
                    "address_line1_check": null,
                    "address_postal_code_check": null,
                    "cvc_check": null
                  },
                  "country": "US",
                  "exp_month": 10,
                  "exp_year": 2022,
                  "extended_authorization": {
                    "status": "disabled"
                  },
                  "fingerprint": "W691J2Ye3VDoq6Ij",
                  "funding": "credit",
                  "incremental_authorization": {
                    "status": "unavailable"
                  },
                  "installments": null,
                  "last4": "4242",
                  "mandate": null,
                  "multicapture": {
                    "status": "unavailable"
                  },
                  "network": "visa",
                  "network_token": {
                    "used": false
                  },
                  "network_transaction_id": "875457497450891",
                  "overcapture": {
                    "maximum_amount_capturable": 1000,
                    "status": "unavailable"
                  },
                  "regulated_status": "unregulated",
                  "three_d_secure": null,
                  "wallet": null
                },
                "type": "card"
              },
              "receipt_email": null,
              "receipt_number": null,
              "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUo1vmewAYyBv8_fZAb9TosFhtFudnJjPyEbv_il7v4NzsJGnMnc-P-4LZnkIunOgmk7kt1Bb0SBYYxXM4",
              "refunded": false,
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_Ga4pKWi3H8ZP2O",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "allow_redisplay": "unspecified",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Ga4qMbuRTyNsco",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 10,
                "exp_year": 2022,
                "fingerprint": "W691J2Ye3VDoq6Ij",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "regulated_status": "unregulated",
                "tokenization_method": null,
                "wallet": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "statement_descriptor_suffix": "shibin<STRONGBOX_GENERAL_PASSWORD>",
              "status": "succeeded",
              "transfer_data": null,
              "transfer_group": "115787"
            }
          ],
          "has_more": false,
          "url": "/v1/charges"
        }
  recorded_at: Tue, 22 Apr 2025 15:59:18 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?transfer_group=<STRONGBOX_GENERAL_PASSWORD>567890
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [],
          "has_more": false,
          "url": "/v1/charges"
        }
  recorded_at: Tue, 22 Apr 2025 15:59:19 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges?created%5Bgte%5D=1621973384&created%5Blte%5D=1621973414&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/js[...]
