---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 6c079da5-8c2e-47ea-b9d6-ae91b2dab160
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 6c079da5-8c2e-47ea-b9d6-ae91b2dab160
      Original-Request:
      - req_lZHapJfEXjjkeH
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RGdDo9e1RjUNIyYhLI555Ni",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1745314472,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 22 Apr 2025 09:34:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdDo9e1RjUNIyYhLI555Ni
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0RGdDo9e1RjUNIyYhLI555Ni
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 7b42d452-7e04-448a-a972-b71a46253cb2
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7b42d452-7e04-448a-a972-b71a46253cb2
      Original-Request:
      - req_DQmA0k4tghvqOD
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SAzCJYPY11G30X",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1745314473,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "EB439BB4",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 22 Apr 2025 09:34:33 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdDq9e1RjUNIyY08egQFr2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgare033debe842.test.gumroad.com%3A31337%2Fl%2Fh%21&metadata[purchase]=_-tlzIdX9vn3pwbj3QP6LQ%3D%3D&transfer_group=566&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&off_session=true&confirm=true&customer=cus_SAzCTAZ08UwaoH&payment_method=pm_0RGdDq9e1RjUNIyY08egQFr2&statement_descriptor_suffix=edgare033debe842
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 31d1244c-dc33-43be-aff5-e9165a7e089f
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 31d1244c-dc33-43be-aff5-e9165a7e089f
      Original-Request:
      - req_GPbiMZbWnDs2j3
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RGdDr9e1RjUNIyY0YKYexvS",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RGdDr9e1RjUNIyY0YKYexvS_secret_ieBmcbvy5bvNQzwdTadjsXXrk",
          "confirmation_method": "automatic",
          "created": 1745314475,
          "currency": "usd",
          "customer": "cus_SAzCTAZ08UwaoH",
          "description": "You bought http://edgare033debe842.test.gumroad.com:31337/l/h!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RGdDr9e1RjUNIyY0RqW9ZYn",
          "livemode": false,
          "metadata": {
            "purchase": "_-tlzIdX9vn3pwbj3QP6LQ=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RGdDq9e1RjUNIyY08egQFr2",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "alipay": {},
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "alipay",
            "link",
            "wechat_pay",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare033debe842",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "566"
        }
  recorded_at: Tue, 22 Apr 2025 09:34:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RGdDr9e1RjUNIyY0RqW9ZYn?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RGdDr9e1RjUNIyY0RqW9ZYn",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RGdDr9e1RjUNIyY0yEwOuQu",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1745452800,
            "created": 1745314476,
            "currency": "usd",
            "description": "You bought http://edgare033debe842.test.gumroad.com:31337/l/h!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2RGdDr9e1RjUNIyY0RqW9ZYn",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGARE033DEBE",
          "captured": true,
          "created": 1745314476,
          "currency": "usd",
          "customer": "cus_SAzCTAZ08UwaoH",
          "description": "You bought http://edgare033debe842.test.gumroad.com:31337/l/h!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "_-tlzIdX9vn3pwbj3QP6LQ=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 5,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RGdDr9e1RjUNIyY0YKYexvS",
          "payment_method": "pm_0RGdDq9e1RjUNIyY08egQFr2",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": null,
              "brand": "discover",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "ECvtKSJlKEs08gOS",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "9424",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "discover",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "696711811675837",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUorMWdwAYyBlZHFfcOEDosFqD5-BbGmBzNp6NC1AE6sqLoSKoHoyCGDqSKjU723I4mazC0x9sDzEr567s",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgare033debe842",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "566"
        }
  recorded_at: Tue, 22 Apr 2025 09:34:37 GMT
recorded_with: VCR 6.2.0
