---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 90048ad7-ce56-42e0-82ed-bb301ae0d07e
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 90048ad7-ce56-42e0-82ed-bb301ae0d07e
      Original-Request:
      - req_AbVbgUhwivuvmd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RGdDj9e1RjUNIyY5BJFQ4Tl",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1745314467,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 22 Apr 2025 09:34:27 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdDj9e1RjUNIyY5BJFQ4Tl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0RGdDj9e1RjUNIyY5BJFQ4Tl
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 96df60d8-2048-4331-b010-b982d7ca9e63
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 96df60d8-2048-4331-b010-b982d7ca9e63
      Original-Request:
      - req_GcgjI8pC42Qq9c
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SAzCRB9YG9kcBA",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1745314468,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "099F9567",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 22 Apr 2025 09:34:29 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdDl9e1RjUNIyYCxG3K7Z1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=100&currency=usd&description=You+bought+http%3A%2F%2Fedgar2fce96ac839.test.gumroad.com%3A31337%2Fl%2Fp%21&metadata[purchase]=ksPYv24wx8ybMqUc5ABbiA%3D%3D&transfer_group=563&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&off_session=true&confirm=true&customer=cus_SAzCbjPmX8ghPw&payment_method=pm_0RGdDl9e1RjUNIyYCxG3K7Z1&statement_descriptor_suffix=edgar2fce96ac839
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 98f441cd-f9db-4efc-a3e8-a5c6ba3ececa
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 98f441cd-f9db-4efc-a3e8-a5c6ba3ececa
      Original-Request:
      - req_RJQbViud3fktID
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RGdDn9e1RjUNIyY0MEn8PJX",
          "object": "payment_intent",
          "amount": 100,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 100,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RGdDn9e1RjUNIyY0MEn8PJX_secret_xqySdR6xsUYu9ZGlCKzPzn6VA",
          "confirmation_method": "automatic",
          "created": 1745314471,
          "currency": "usd",
          "customer": "cus_SAzCbjPmX8ghPw",
          "description": "You bought http://edgar2fce96ac839.test.gumroad.com:31337/l/p!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RGdDn9e1RjUNIyY0vXW3wf5",
          "livemode": false,
          "metadata": {
            "purchase": "ksPYv24wx8ybMqUc5ABbiA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RGdDl9e1RjUNIyYCxG3K7Z1",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "alipay": {},
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "alipay",
            "link",
            "wechat_pay",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2fce96ac839",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "563"
        }
  recorded_at: Tue, 22 Apr 2025 09:34:31 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RGdDn9e1RjUNIyY0vXW3wf5?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RGdDn9e1RjUNIyY0vXW3wf5",
          "object": "charge",
          "amount": 100,
          "amount_captured": 100,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RGdDn9e1RjUNIyY0ViDsoFL",
            "object": "balance_transaction",
            "amount": 100,
            "available_on": 1745452800,
            "created": 1745314471,
            "currency": "usd",
            "description": "You bought http://edgar2fce96ac839.test.gumroad.com:31337/l/p!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 100,
            "reporting_category": "charge",
            "source": "ch_2RGdDn9e1RjUNIyY0vXW3wf5",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR2FCE96AC",
          "captured": true,
          "created": 1745314471,
          "currency": "usd",
          "customer": "cus_SAzCbjPmX8ghPw",
          "description": "You bought http://edgar2fce96ac839.test.gumroad.com:31337/l/p!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "ksPYv24wx8ybMqUc5ABbiA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 30,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RGdDn9e1RjUNIyY0MEn8PJX",
          "payment_method": "pm_0RGdDl9e1RjUNIyYCxG3K7Z1",
          "payment_method_details": {
            "card": {
              "amount_authorized": 100,
              "authorization_code": null,
              "brand": "discover",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "ECvtKSJlKEs08gOS",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "9424",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "discover",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "696711811675837",
              "overcapture": {
                "maximum_amount_capturable": 100,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUoqMWdwAYyBqZekphAwDosFoev_8n8aRfLmcPvPqZPSoAn2-l5E0D35eq5naRACNEOGJQDMS2_Z7oH3Y8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar2fce96ac839",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "563"
        }
  recorded_at: Tue, 22 Apr 2025 09:34:32 GMT
recorded_with: VCR 6.2.0
