---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.taxjar.com/v2/taxes
    body:
      encoding: UTF-8
      string: '{"from_country":"US","from_state":"CA","from_zip":"94104","to_country":"CA","to_state":"BC","to_zip":null,"shipping":0.0,"line_items":[{"quantity":1,"unit_price":1.0,"discount":0,"product_tax_code":"31000"}],"nexus_addresses":[{"country":"CA","state":"BC"}]}'
    headers:
      Authorization:
      - Bearer <TAXJAR_API_KEY>
      X-Api-Version:
      - '2022-01-24'
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Amzn-Requestid:
      - 55013857-686f-4dd6-9d4b-984d17edcab2
      X-Amz-Apigw-Id:
      - JawLQG4xIAMEjaA=
    body:
      encoding: UTF-8
      string: '{"tax":{"amount_to_collect":0.12,"breakdown":{"combined_tax_rate":0.12,"gst":0.05,"gst_tax_rate":0.05,"gst_taxable_amount":1.0,"line_items":[{"combined_tax_rate":0.12,"gst":0.05,"gst_tax_rate":0.05,"gst_taxable_amount":1.0,"id":"1","pst":0.07,"pst_tax_rate":0.07,"pst_taxable_amount":1.0,"qst":0.0,"qst_tax_rate":0.0,"qst_taxable_amount":0.0,"tax_collectable":0.12,"taxable_amount":1.0}],"pst":0.07,"pst_tax_rate":0.07,"pst_taxable_amount":1.0,"qst":0.0,"qst_tax_rate":0.0,"qst_taxable_amount":0.0,"shipping":{"combined_tax_rate":0.12,"gst":0.0,"gst_tax_rate":0.05,"gst_taxable_amount":0.0,"pst":0.0,"pst_tax_rate":0.07,"pst_taxable_amount":0.0,"qst":0.0,"qst_tax_rate":0.0,"qst_taxable_amount":0.0,"tax_collectable":0.0,"taxable_amount":0.0},"tax_collectable":0.12,"taxable_amount":1.0},"freight_taxable":true,"has_nexus":true,"jurisdictions":{"country":"CA","state":"BC"},"order_total_amount":1.0,"rate":0.12,"shipping":0.0,"tax_source":"destination","taxable_amount":1.0}}'
  recorded_at: Tue, 22 Apr 2025 09:26:06 GMT
recorded_with: VCR 6.2.0
