---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1a9d9b9b-972f-4ea1-b102-564b6546d5fa
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1a9d9b9b-972f-4ea1-b102-564b6546d5fa
      Original-Request:
      - req_wO5jI68DYOSE6E
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RGdFE9e1RjUNIyYLon3cvfo",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1745314560,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 22 Apr 2025 09:36:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdFE9e1RjUNIyYLon3cvfo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0RGdFE9e1RjUNIyYLon3cvfo
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 1c9beb23-44f2-4140-8f43-e3a0e08c4d34
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1c9beb23-44f2-4140-8f43-e3a0e08c4d34
      Original-Request:
      - req_4SQqsalXoigrsC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SAzDvIq9IYDeM2",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1745314561,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "CFFCE958",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 22 Apr 2025 09:36:01 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdFF9e1RjUNIyYXkEtWPnU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdFH9e1RjUNIyYEUC8cz7l
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=4000&currency=usd&description=You+bought+http%3A%2F%2Fedgar6cb2d271893.test.gumroad.com%3A31337%2Fl%2Fx%21&metadata[purchase]=c1WgfyUs4l4QkMMjZgD1UA%3D%3D&transfer_group=611&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&off_session=true&confirm=true&customer=cus_SAzDOOLZ928s68&payment_method=pm_0RGdFH9e1RjUNIyYEUC8cz7l&statement_descriptor_suffix=edgar6cb2d271893
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c75f24cd-e5c8-4207-bb27-e2c742de018e
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c75f24cd-e5c8-4207-bb27-e2c742de018e
      Original-Request:
      - req_Tn9SdJMU3hILE1
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RGdFJ9e1RjUNIyY0l5byATL",
          "object": "payment_intent",
          "amount": 4000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 4000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RGdFJ9e1RjUNIyY0l5byATL_secret_p65U5as8WzEnEM8p5rvzZKHvq",
          "confirmation_method": "automatic",
          "created": 1745314565,
          "currency": "usd",
          "customer": "cus_SAzDOOLZ928s68",
          "description": "You bought http://edgar6cb2d271893.test.gumroad.com:31337/l/x!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RGdFJ9e1RjUNIyY0v9Xz6Jv",
          "livemode": false,
          "metadata": {
            "purchase": "c1WgfyUs4l4QkMMjZgD1UA=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RGdFH9e1RjUNIyYEUC8cz7l",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "alipay": {},
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "alipay",
            "link",
            "wechat_pay",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6cb2d271893",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "611"
        }
  recorded_at: Tue, 22 Apr 2025 09:36:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RGdFJ9e1RjUNIyY0v9Xz6Jv?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RGdFJ9e1RjUNIyY0v9Xz6Jv",
          "object": "charge",
          "amount": 4000,
          "amount_captured": 4000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RGdFJ9e1RjUNIyY0Ghi9Efi",
            "object": "balance_transaction",
            "amount": 4000,
            "available_on": 1745452800,
            "created": 1745314565,
            "currency": "usd",
            "description": "You bought http://edgar6cb2d271893.test.gumroad.com:31337/l/x!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 4000,
            "reporting_category": "charge",
            "source": "ch_2RGdFJ9e1RjUNIyY0v9Xz6Jv",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR6CB2D271",
          "captured": true,
          "created": 1745314565,
          "currency": "usd",
          "customer": "cus_SAzDOOLZ928s68",
          "description": "You bought http://edgar6cb2d271893.test.gumroad.com:31337/l/x!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "c1WgfyUs4l4QkMMjZgD1UA=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 55,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RGdFJ9e1RjUNIyY0l5byATL",
          "payment_method": "pm_0RGdFH9e1RjUNIyYEUC8cz7l",
          "payment_method_details": {
            "card": {
              "amount_authorized": 4000,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 4000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUohsadwAYyBiHfkdtKyTosFi9qVYg4I6w6SPgEoG2w5EbF7kC8R7rhgmr2CslvqRKr-BS7iDsm_45keN8",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar6cb2d271893",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "611"
        }
  recorded_at: Tue, 22 Apr 2025 09:36:06 GMT
recorded_with: VCR 6.2.0
