<div>
  <img src="<%= @invitee.avatar_url %>" class="user-avatar header-badge" style="width: 3em;">
  <h2 style="text-align: center;"><%= @subject %></h2>
</div>

<div class="squished">
  <p>
    They can now start promoting your products and earn their commission from every
    sale they refer. Their affiliate links are ready to use.
  </p>

  <p>
    Need to make changes? You can update or remove an affiliate at any time,
    and we'll keep them informed.
  </p>
</div>

<div>
  <a href="<%= affiliates_url %>" class="button accent">
    Manage affiliates
  </a>
</div>
