---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_methods
    body:
      encoding: UTF-8
      string: type=card&card[number]=4242+4242+4242+4242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=123
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - c12302be-62f5-44b5-ae8d-ba8243769915
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - c12302be-62f5-44b5-ae8d-ba8243769915
      Original-Request:
      - req_fQY63F2JBqMs2S
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pm_0RGdHR9e1RjUNIyYFUWKqB3x",
          "object": "payment_method",
          "allow_redisplay": "unspecified",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "card": {
            "brand": "visa",
            "checks": {
              "address_line1_check": null,
              "address_postal_code_check": null,
              "cvc_check": "unchecked"
            },
            "country": "US",
            "display_brand": "visa",
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "W691J2Ye3VDoq6Ij",
            "funding": "credit",
            "generated_from": null,
            "last4": "4242",
            "networks": {
              "available": [
                "visa"
              ],
              "preferred": null
            },
            "regulated_status": "unregulated",
            "three_d_secure_usage": {
              "supported": true
            },
            "wallet": null
          },
          "created": 1745314697,
          "customer": null,
          "livemode": false,
          "metadata": {},
          "type": "card"
        }
  recorded_at: Tue, 22 Apr 2025 09:38:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdHR9e1RjUNIyYFUWKqB3x
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=&payment_method=pm_0RGdHR9e1RjUNIyYFUWKqB3x
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 3a7a8686-9554-43f7-8fd0-0d0be24bee15
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3a7a8686-9554-43f7-8fd0-0d0be24bee15
      Original-Request:
      - req_J3VUwixOMEAnxG
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SAzF4mNKnqUAPL",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1745314698,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "8FDDF002",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Tue, 22 Apr 2025 09:38:18 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/payment_methods/pm_0RGdHT9e1RjUNIyYf4BFPqCg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=1000&currency=usd&description=You+bought+http%3A%2F%2Fedgar08b852631027.test.gumroad.com%3A31337%2Fl%2Fz%21&metadata[purchase]=g45UL2nH8cLvewwDhh4I4Q%3D%3D&transfer_group=716&automatic_payment_methods[enabled]=true&automatic_payment_methods[allow_redirects]=never&off_session=true&confirm=true&customer=cus_SAzGYgE5DXLe19&payment_method=pm_0RGdHT9e1RjUNIyYf4BFPqCg&statement_descriptor_suffix=edgar08b852631027
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - e1a1896c-eacb-4002-afcf-16fb39ffc237
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e1a1896c-eacb-4002-afcf-16fb39ffc237
      Original-Request:
      - req_nMMYeLjrhExCmy
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "pi_2RGdHV9e1RjUNIyY012Ks7Q2",
          "object": "payment_intent",
          "amount": 1000,
          "amount_capturable": 0,
          "amount_details": {
            "tip": {}
          },
          "amount_received": 1000,
          "application": null,
          "application_fee_amount": null,
          "automatic_payment_methods": {
            "allow_redirects": "never",
            "enabled": true
          },
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "client_secret": "pi_2RGdHV9e1RjUNIyY012Ks7Q2_secret_xKmPwX4LxmKynccbUWA6bPSJb",
          "confirmation_method": "automatic",
          "created": 1745314701,
          "currency": "usd",
          "customer": "cus_SAzGYgE5DXLe19",
          "description": "You bought http://edgar08b852631027.test.gumroad.com:31337/l/z!",
          "invoice": null,
          "last_payment_error": null,
          "latest_charge": "ch_2RGdHV9e1RjUNIyY0Gf16h1l",
          "livemode": false,
          "metadata": {
            "purchase": "g45UL2nH8cLvewwDhh4I4Q=="
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_0RGdHT9e1RjUNIyYf4BFPqCg",
          "payment_method_configuration_details": {
            "id": "pmc_0KYMlf9e1RjUNIyYT1l4J38o",
            "parent": null
          },
          "payment_method_options": {
            "alipay": {},
            "amazon_pay": {
              "express_checkout_element_session_id": null
            },
            "card": {
              "installments": null,
              "mandate_options": null,
              "network": null,
              "request_three_d_secure": "automatic"
            },
            "link": {
              "persistent_token": null
            },
            "wechat_pay": {
              "app_id": null,
              "client": null
            }
          },
          "payment_method_types": [
            "card",
            "alipay",
            "link",
            "wechat_pay",
            "amazon_pay"
          ],
          "processing": null,
          "receipt_email": null,
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar08b852631027",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "716"
        }
  recorded_at: Tue, 22 Apr 2025 09:38:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_2RGdHV9e1RjUNIyY0Gf16h1l?expand%5B%5D=application_fee.balance_transaction&expand%5B%5D=balance_transaction
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2023-10-16; risk_in_requirements_beta=v1
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_2RGdHV9e1RjUNIyY0Gf16h1l",
          "object": "charge",
          "amount": 1000,
          "amount_captured": 1000,
          "amount_refunded": 0,
          "amount_updates": [],
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": {
            "id": "txn_2RGdHV9e1RjUNIyY00TWdjqX",
            "object": "balance_transaction",
            "amount": 1000,
            "available_on": 1745452800,
            "created": 1745314701,
            "currency": "usd",
            "description": "You bought http://edgar08b852631027.test.gumroad.com:31337/l/z!",
            "exchange_rate": null,
            "fee": 0,
            "fee_details": [],
            "net": 1000,
            "reporting_category": "charge",
            "source": "ch_2RGdHV9e1RjUNIyY0Gf16h1l",
            "status": "pending",
            "type": "charge"
          },
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null,
            "tax_id": null
          },
          "calculated_statement_descriptor": "GUMROAD* EDGAR08B85263",
          "captured": true,
          "created": 1745314701,
          "currency": "usd",
          "customer": "cus_SAzGYgE5DXLe19",
          "description": "You bought http://edgar08b852631027.test.gumroad.com:31337/l/z!",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase": "g45UL2nH8cLvewwDhh4I4Q=="
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "advice_code": null,
            "network_advice_code": null,
            "network_decline_code": null,
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 1,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_2RGdHV9e1RjUNIyY012Ks7Q2",
          "payment_method": "pm_0RGdHT9e1RjUNIyYf4BFPqCg",
          "payment_method_details": {
            "card": {
              "amount_authorized": 1000,
              "authorization_code": null,
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "extended_authorization": {
                "status": "disabled"
              },
              "fingerprint": "W691J2Ye3VDoq6Ij",
              "funding": "credit",
              "incremental_authorization": {
                "status": "unavailable"
              },
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "multicapture": {
                "status": "unavailable"
              },
              "network": "visa",
              "network_token": {
                "used": false
              },
              "network_transaction_id": "875457497450891",
              "overcapture": {
                "maximum_amount_capturable": 1000,
                "status": "unavailable"
              },
              "regulated_status": "unregulated",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "radar_options": {},
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaIgogOWUxUmpVTkl5WUdwQTlDZmgzUm1ReHhUemIxYWFrcEUojsedwAYyBnXDs8KASTosFprP0k8X_44w5T0D877Lg0JQTpaPwWRfyBiuu-KxhLNVKVHwdCBPnkyGoYU",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": null,
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": "edgar08b852631027",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": "716"
        }
  recorded_at: Tue, 22 Apr 2025 09:38:22 GMT
recorded_with: VCR 6.2.0
