<h3>Categories</h3>
<ul class="nav nav-list">
    <li>
    <a href="/help/category/316-open-an-account.html">Open an account</a>
    </li>
    <li>
    <a href="/help/category/318-add-a-product.html">Add a product</a>
    </li>
    <li>
    <a href="/help/category/319-start-selling.html">Start selling</a>
    </li>
    <li>
    <a href="/help/category/328-market-your-work.html">Market your work</a>
    </li>

    <li>
    <a href="/help/category/320-get-paid.html">Get paid</a>
    </li>

    <li>
    <a href="/help/category/321-advanced.html">Advanced</a>
    </li>

    <li>
    <a href="/help/category/322-contact-gumroad.html">Contact Gumroad</a>
    </li>
</ul>
